
TFG_UnityProject_Multijugador/Library/ArtifactDB
TFG_UnityProject_Multijugador/Library/PlayerDataCache/Android/Data/data.unity3d
TFG_UnityProject_Multijugador/Temp/gradleOut/launcher/build/intermediates/merged_assets/debug/out/bin/Data/data.unity3d
