
TFG_UnityProject_Multijugador/Library/ArtifactDB
TFG_UnityProject_Multijugador/Library/PlayerDataCache/Android/Data/data.unity3d
TFG_UnityProject_Multijugador/Temp/gradleOut/launcher/build/intermediates/merged_assets/debug/out/bin/Data/data.unity3d
TFG_UnityProject_Multijugador/Temp/gradleOut/unityLibrary/build/intermediates/library_assets/debug/out/bin/Data/data.unity3d
TFG_UnityProject_Multijugador/Temp/gradleOut/unityLibrary/src/main/assets/bin/Data/data.unity3d
TFG_UnityProject_Multijugador/Temp/StagingArea/raw/bin/Data/data.unity3d
TFG_ProyectoUnity/Library/ArtifactDB
TFG_ProyectoUnity/Library/PlayerDataCache/Android/Data/data.unity3d
